.espaco-topo{
    margin-top: 66px;
}

.nome-user{
    position: relative;
    top: -10px;
}

.espaco-menu{
    min-height: 10em;
    width: 250px;
    float: left;
}

.sidebar {
    width: 250px;
    min-height: 40em;
    position: fixed;
}